@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish&display=swap');

*,*:link,*:visited{margin: 0px; padding: 0; box-sizing: border-box;}

html{font-size: 62.5%;}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 17px;
  color: #828282;
}

input,button{all: unset; font-family: 'Mulish', sans-serif; font-weight: 400; line-height: 17.5px; color: #333333; }
::placeholder{font-family: 'Mulish', sans-serif; font-weight: 400; line-height: 17.5px; color: #BDBDBD; }


/* .navigation{display: flex; margin: 50px 96px 67px;align-items: center;} */
.navigation .logo{margin-right: auto;}
.navigation .logo .img{width: 100px;}
.navigation .searchbar{
  display: flex; 
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); border-radius: 16px;
  width: 300px;
}
.navigation .searchbar .city{padding: 19px 16px; width: 93px; box-sizing: content-box;}
.navigation .searchbar .guests{padding: 19px 16px; border-left: 1px solid #F2F2F2; border-right: 1px solid #F2F2F2; width: 93px;}
.navigation .searchbar div {display: flex; align-items: center; justify-content: center; margin: 0 auto;}


/* .navigationActive{height: 100vh; width: 100vw; background-color: rgba(79, 79, 79, 0.4); position: fixed; top: 0; display: none;}
.navigationActive form{display: flex; background-color: white; padding: 93px 97px 42px; justify-content: space-between; align-items: center;} */
/* .navigationActive .inputContainer{flex-basis: 40%; border: 1px solid #333333; border-radius: 16px; display: flex; flex-direction: column; padding: 12px 27px; position: relative;}
.navigationActive .inputContainer label{text-transform: uppercase; color: #333333; margin-bottom: 4px; font-size: 9px; line-height: 11px; font-weight: 800;}
.navigationActive .buttonContainer{}
.navigationActive .buttonContainer button{background-color: #EB5757; padding: 19px 27px; display: flex; justify-content: center; align-items: center; gap: 10px; font-size: 14px; font-weight: 700; color: #F2F2F2; border-radius: 26px; } */

/* .suggestion{position: absolute; top: 84px; left: 10px;}
.suggestion p{margin-bottom: 30px; display: flex; align-items: center;} */

.content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 83px 94px;
}

.content .apartment-container{}
.content .apartment-container .img-content{max-width: 395px; max-height: 270px; overflow: hidden; border-radius: 24px;}
.content .apartment-container .img-content img{width: 100%;}
.content .apartment-container .prova{ display: flex; align-items: center; justify-content: space-between;}
.content .apartment-container .prova h4{
  text-transform: uppercase;
  padding: 7px 9px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  border-radius: 12px;
  border: 1px solid #4F4F4F;
  margin-right: 11px;


}
.content .apartment-container .prova p{}
.content .apartment-container .prova h5{}
.content .apartment-container p{}


.content{}
.content .apartment{display: flex; flex-direction: column; justify-content: space-between; gap: 10px; max-width: 395px;}
.content .apartment .imgContainer{border-radius: 25px; overflow: hidden; max-width: 395px; max-height: 270px;}
.content .apartment .imgContainer img{width: 100%;}
.content .apartment h4{  text-transform: uppercase;
  padding: 7px 9px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  border-radius: 12px;
  border: 1px solid #4F4F4F;
  margin-right: 11px;}
.content .apartment .first-row{ display: flex; align-items: center; justify-content: space-between;}
.content .apartment .first-row p{}
.content .apartment p{}
.rating{display: flex; align-items: center; gap: 7px;margin-right: 5px;}
.title{font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  color: #333333;  
}

.inputBar{position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.226); height: 100vh; width: 100vw;}
.inputBar form{ display: flex;  align-items: flex-start; gap: 10px; padding: 93px 96px 0;background-color: white;}
.inputBar .input-container{display: flex; flex-direction: column; gap: 40px;}
.inputBar .input-container .inputBox{width: 425px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  border: 1px solid #333333;
  }
.inputBar .input-container .inputBox label{font-family: Mulish;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  }
.inputBar .input-container .inputBox .city{}
.inputBar .input-container .suggestion p{font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 36px;
  color: #4F4F4F;
  display: flex;
  align-items: center;
  }

  .inputBar .input-container .suggestion button{display: block;}
.inputBar .input-container .inputBox .number{}
.inputBar .input-container .inputBox .button-number{}
.inputBar .input-container .inputBox .button-number h4{font-family: Mulish;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  }
.inputBar .input-container .inputBox .button-number p{  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  }

.button-number{display: flex; flex-direction: column; gap: 10px;}
.button-box{margin-bottom: 50px; display: flex; gap: 15px; align-items: center;}
.button-box button{ padding: 7px 11px; border: 1px solid #828282; border-radius: 4px;}
.inputBar .input-container .inputBox .button-number .button-box button{}
.search{
  border-radius: 16px;
  padding: 10px 27px;
  background-color: #EB5757;
  font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: white;
height: 48px;
box-sizing: border-box;
display: flex;
align-items: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-number{display: none;}
.input-container:focus-within .button-number{display: block;}
.suggestion{display: none;}
.input-container.input-prova:focus-within .suggestion{display: block;}

.navbarr{display: flex; justify-content: space-between; align-items: center; padding: 46px 94px 0px; height: 100px;}

.navbarr img{}
.navbarr .navigation{ display: flex; width: 300px; background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
justify-content: space-between;
padding: 17px 19px;}
.navbarr .navigation .city{font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  }
.navbarr .navigation .guests{border-left: 1px solid #F2F2F2; font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  }
.navbarr .navigation .logoo{border-left: 1px solid #F2F2F2; display: flex; align-items: center; justify-content: center;}
.navbarr .navigation .logoo svg{margin-left: 16px;}


@media only screen and (max-width: 600px) {
  .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 83px 50px;

    
  }

  .inputBar form{flex-direction: column; padding: 93px 10px 20px; justify-content: center;}

  .inputBar .input-container{width: 100%;}
  .inputBar .input-container .inputBox{width: 100%;}

  .navbarr{padding: 46px 15px 0px;}
  .navbarr .navigation{padding: 10px 19px; width: 200px; }
  .navbarr .navigation .city{font-size: 11px;}
  .navbarr .navigation .guests{font-size: 11px;}
}

@media only screen and (max-width: 1100px) {
  .inputBar form{flex-direction: column; padding: 93px 10px 20px; justify-content: center;}

  .inputBar .input-container{width: 100%;}
  .inputBar .input-container .inputBox{width: 100%;}
  .content{grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));}
}